$primary: #2d99dc;
$secondary: #1a1a1a;
$success: #86b34d;
$warning: #e66c40;
$danger: #cb3e4b;
$info: #35bda8;
$light: #444;
$dark: #1a1a1a;
$link: #5c5c5c;

$border: #262626;
$text: #383838;
$hover: #232323;

$text-normal: #383838;
$text-grey: #5c5c5c;
$text-active: white;
