@use 'styles/colors.scss' as *;
@use 'styles/sizes.scss' as *;

.cash-card {
    flex: 1;
    background-color: $text-normal;
    border-radius: $border-radius-sm;
    color: $text-active;

    .title {
        border-bottom: 1px solid $border;
        font-size: $font-sm;
        padding: 10px;
    }
    .amount {
        display: flex;
        align-items: center;
        font-size: $font-xl;
        padding: 0 10px;
        height: 60px;
    }
    .change {
        display: flex;
        align-items: flex-end;
        color: $text-grey;
        font-size: $font-xxs;
        padding: 0 0 10px 10px;
        .up {
            color: green;
        }
        .down {
            color: red;
        }
    }
}
