@use 'styles/colors.scss' as *;

.header {
  display: flex;
  align-items: center;
  background-color: $background;
  border-bottom: 1px solid $border;
  padding: 0 20px;
  height: 60px;

  .logo {
    height: 20px;
  }
  .toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    &:hover {
      background-color: $hover;
      color: $text-active;
      cursor: pointer;
    }
  }
}
