@use 'styles/colors.scss' as *;

.header {
    display: flex;
    align-items: center;
    background-color: $secondary;
    border-bottom: 1px solid $border;
    color: #444;
    padding: 0 20px;
    height: 60px;

    .logo {
        height: 20px;
    }

    .btn-dark {
        display: flex;
        align-items: center;
        border-radius: unset;
        height: 59px;
        color: #444;
    }

    .user {
        display: flex;
        align-items: center;
        margin-left: auto;

        .dropdown {
            height: 60px;
            border-radius: unset;
        }

        button {
            img {
                width: 26px;
                height: 26px;
            }
            .badge {
                line-height: 8px;
                margin-left: -5px;
                margin-top: -10px;
            }
            &::after {
                display: none;
            }
        }
    }
}
