@use 'styles/colors.scss' as *;

.sidebar {
    background-color: $background;
    border-color: $border !important;
    color: $text-normal;
    font-size: 14px;
    font-weight: 600;
    min-height: calc(100vh - 60px);
    .ps-sidebar-container {
        background-color: unset;

        .ps-menu-button {
            &.ps-active,
            &.ps-open,
            &:hover {
                background-color: $hover;
                color: $text-active;
            }
            &.ps-active {
                box-shadow:
                    3px 0 0 0 #2c97de inset,
                    0 -1px 0 0 #1a1a1a inset,
                    0 1px 0 0 transparent inset;
            }
        }
        .ps-submenu-content {
            background-color: $background;

            a {
                color: unset;
                text-decoration: none;
            }
        }
    }
}
