@use 'styles/colors.scss' as *;
@use 'styles/sizes.scss' as *;

.cash-card {
    background-color: $text-normal;
    border-radius: $border-radius-sm;
    color: $text-active;

    .title {
        border-bottom: 1px solid $border;
        font-size: $font-sm;
        padding: 20px;
    }
    .amount {
        display: flex;
        align-items: center;
        font-size: $font-xl;
        padding: 0 20px;
        height: 60px;
    }
    .change {
        color: $text-grey;
        font-size: $font-xxs;
        padding: 0 0 20px 20px;
    }
}
