/* make the customizations */
$theme-colors: (
    'primary': #2d99dc,
    'success': #86b34d,
    'warning': #e66c40,
    'danger': #cb3e4b,
    'info': #35bda8,
);
$body-bg: #1a1a1a;
$body-color: #383838;
$dropdown-link-hover-bg: #232323;
$dropdown-link-active-bg: #232323;

/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';
